.specxPrograms {
    flex: 1;
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -10px;

    h4 {
        width: 100%;
        text-align: center;
        margin-top: 100px;
    }
}